# Ignore these folders
.claude/
agents/
BeeperTexts/
BraveSoftware/
btop/
Code/
Cursor/
dconf/
efm-langserver/
FreeCAD/
gh/
git/
go/
google-chrome/
google-chrome-for-testing/
gpu-screen-recorder/
gtk-3.0/
gtk-4.0/
htop/
hyprwhspr/
lazydocker/
libreoffice/
mimeapps.list
mozilla/
nwg-look/
obsidian/
opencode/
pavucontrol.ini
procps/
pulse/
QtProject.conf
qtvirtualkeyboard/
SEGGER/
spotify/
systemd/
Thunar/
VSCodium/
xfce4/
xkb/
xsettingsd/
yay/
zed/

# Ignore files
*.md
!*README.md
