* {
	background-image: none;
}

window {
	background-color: rgba(0, 0, 0, 0.7);
}

button {
	color: #ffffff;
	font-size: 12px;
	background-color: rgba(30, 30, 30, 0.9);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25%;
	margin: 150px 20px;
}

button:focus,
button:active,
button:hover {
	color: rgba(255, 255, 255, 0.8);
}

#lock {
	background-image: url("/home/tprat/.config/wlogout/themed-icons/lock.png");
}

#logout {
	background-image: url("/home/tprat/.config/wlogout/themed-icons/logout.png");
}
#reboot {
	background-image: url("/home/tprat/.config/wlogout/themed-icons/reboot.png");
}
#shutdown {
	background-image: url("/home/tprat/.config/wlogout/themed-icons/shutdown.png");
}
